body {
  font-family: 'Walkway Bold', sans-serif;
  margin: 0;
  width: 100%;
     /*  background: url('sky.jpg') no-repeat center center fixed; */
     border-style: solid;

border-color: #002060 white white white;
color: #002060;

}



main {
  text-align: center;
  margin: 0 auto;



}


.navline {
  border-color: #002060;
 
}



.about {
  height: 100vh;
  /* background: url('sky.jpg') no-repeat center center fixed; */
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
        
 

}


.about-container {

 /* background: url('sky.jpg') no-repeat center center fixed; 
  /*-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  /*max-height: 100%;*/


}

h1 {
    color: white;
    font-size: 50px;
    font-weight: normal;
    margin-bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    color: white;
    font-size: 18px;
    margin-top: 0;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}



.clearcase {
    height: 120px;
    border-style: solid;
    border-color: white;
    margin-top: 230px;
    margin-right: 10px;

}



.grey {
    height: 3px;
    background-color: #919191;
    border: none;
    width: 50px;
}

h3 {
    text-align: center;
    font-size: 28px;
    font-weight: normal;
    /*margin-top: 100px;*/
}

.yellow {
    border-top: 5px double #8c5232;
    width: 250px;
    border-bottom: none;
    border-right: none;
}



.box {
    float: left;
    width: 42.5%;
    margin-left: 5%;
    margin-top: 80px;
    
}

.clear {
    clear: both;
}

h4 {
    text-align: center;
    font-size: 24px;
}

p {
    text-align: center;
}

.full-width {
    width: 100%;
}

.skills-and-tools {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.icons {
   text-align: center;
}

.icon {
    margin: 30px 0;
}

.contact-me {
  height: 350px;
  background-color: #202020;
}

.contact-headline {
  color: white;
}

.contact-me {
  height: 350px;
  background-color: #202020;
  padding-top: 30px;
}

.contact-info {
  color: white;
  font-size: 13px;
  margin-top: 30px;
}

.contact-link {
  color: white;
  font-weight: bold;
  font-size: 13px;
}

.nav-link {
  color: #002060;
    text-decoration: none;
  /* margin-bottom: 200px;*/
}

.contact_one_options {
  text-align: left;

}

/*.label_contact_one {
  font-weight: bold;
}*/
.space {
  margin-top: 9px;
}
.navlinks {
  display: inline-block;
  font-size: 16px;
  width: 150px;
  font-weight: bold;
  margin-top: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  margin-left: 30px;
  padding-right: 40px;
}


.side_by_side_collage {

/*  display: inline-block;
*/
}

.container_column {
  height: 100px;
}
.logo_column_1 {
width: 20%;

/*margin-top: -10px;*/
margin-left: 180px;


}


.logo_column_2{
  margin-top: -757px;
 width: 20%;
 margin-left: 783px;
}
.a_collage {
/*margin-right: 700px;*/
height: 300px;
/*
margin-top: 200px;*/
}

.b_collage {
  height: 300px;
 
 /* height: 100px;

margin-top: -350px;

margin-right: 200px;*/
}

.c_collage {
  height:  300px


}

.d_collage {
height: 300px;

}
.e_row {
/*margin-right: 1280px;*/
margin-left: -477px;
}

.e_collage {
  height:  148px


}
.f_row {
margin-left:7px;
}

.f_collage {
  height:  148px


}

.partnerships {

  font-size: 23px;
margin-top: 12px;

}


.testimonials {
  margin-top: 40px;
}

blockquote {

   height: 100px;
  width: 25%;
  display: inline-block;
  font-size: 20px;
font-style: italic;

margin: 0.25em 0;
padding: 0.35em 40px;
line-height: 1.45;
position: relative;
color: #002060;
}

blockquote:before {
display: block;
padding-left: 10px;
content: "\201C";
font-size: 80px;
position: absolute;
left: -20px;
top: -20px;
color: #0099ff;
}


blockquote cite {
color: #0099ff;
font-size: 14px;
display: block;
margin-top: 5px;
}
 
blockquote cite:before {
content: "\2014 \2009";
}


.rikin-photo {
    height: 580px;
    height: 500px;
    border-style: solid;
    border-color: #002060;
    margin-top: 80px;
    margin-right: 60px;
    float: right;

}

.beginning_bio {
  font-size: 30px;
  font-weight: bolder;

}
.RikinBio {
  font-size: 47px;
  margin-right: 120px;
  padding-top: 80px;
  margin-left: 75px;
   height: 100px;
  /*width: 60%;*/
  text-align: left;
  margin-top: -28px;
  color: #002060;
  
}

.offerings {
  margin-top: 85px;
  height: 30%;
  width: 30%;
  display: inline-block;
  border: 1px solid black;
   border-radius: 10%;
  background-color: #0099ff;
   }
  
.offerings_header {
color: white;
font-size: 50px;

 }


.offerings_list {

  padding-top: 100px;
  font-size: 36px;

}


li {
  text-align: left;
}

.section {
height: 100vh;
   background-color: white; 

}

.side_by_side_contact {
  display: inline-block;
  
  width: 30%;

margin-right: -30px;
margin-top: -60px;

}

.contact_title {
 color: #002060;
}
.line {

margin-bottom: 140px;
height: 100%;
}



.contact_1 {


padding-top: 50px;
margin-bottom: 50px;

}

.contact_2 {

}


.container {
  max-width:400px;
  width:100%;
  margin:0 auto;
  position:relative;
}



#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], 
#contact input[type="url"], #contact textarea, #contact button[type="submit"] 
{ font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;} 

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
  padding-right: 60px;  
}


fieldset {
  border: medium none !important;
  margin: 10 0 0 10px;
  min-width: 100%;
  padding: 10px;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  margin-right: 30px;
 padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
  cursor:pointer;
  width:100%;
  border:none;
  background: #002060;
  color:#FFF;
  margin:0 0 5px;
  padding:10px;
  font-size:15px;
}

#contact button[type="submit"]:hover {
  background:#09C;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

a:hover {
    color: #0099ff;
}

/*RESPONSIVE:*/



/*Desktop*/


/*Laptop*/


/*Laptop When Minimize*/




/*iPhone 6*/ /*iPhone 7*//*iPhone 6 Plus*//*iPhone5*/


@media (min-width:375px) and (orientation:portrait){
body {
  width: 127%;
}
.about {
height: 55vh;
}

.section {
  height: 58vh;
}
 .logo_column_1 {
    margin-left: 80px;
  }

.logo_column_2{
 margin-left: 683px;
  }

.offerings {
  height: 20%;

}

.offerings_list {
  padding-top: 70px;

}

.rikin-photo {
  
    height: 500px;
 margin-right: 40px;
}
.side_by_side_contact {
  display: inline-block;
  
  width: 30%;

margin-right: -17px;
margin-top: 30px;

}

.contact_1 {


margin-right:10px;
margin-bottom: 50px;

}

.partnerships {

  font-size: 23px;
margin-top: 115px;

}

}





/*iPad*/
@media (min-width:768px) and (orientation:portrait){


}





























